/*
 *	TODO:
 *		- Make font sizing consisent and clean
 * 		- Fix dark mode
 *
 */


body 
{
	font-size: 16px;
	background-color: #FFF;
	color: #161320;
	max-width: 100%;
	overflow-x: hidden;
}

.icon_links, .icon_links:visited, .icon_links:hover, .icon_links:active
{
	font-size: 20px;
	color: #161320;
	text-decoration: none;
	padding: 3px;

}

.site_links:link, .site_links:visited, .site_links:active
{
	font-size: 17px;
	color: #161320;
	text-decoration: none;
}

.site_links:hover
{
	font-size: 17px;
	color: #161320;
	text-decoration-style: dashed;
	text-decoration-color: #575268;
}

.post_card:link, .post_card:visited, .post_card:hover, .post_card:active
{
	color: #161320;
	text-decoration: none;
	border-radius: 15px;
}

.post_title
{
	font-size: 20px;
	font-weight: bolder;
}

.post_desc
{
	font-size: 17px;
}

.post_header
{
	font-size: large;
	font-weight: bolder;
}

.page_title
{
	font-size: large;
	font-weight: bolder;
}

.bio
{
	font-size: 15px;
	color: #575268;
}

.sidebar
{
	padding-top: 80%;
	padding-bottom: 80%;
}

.view_more
{
	font-size: 14px;
	background-color: #fff;
	color: #161320;
	text-decoration: none;
}


@media screen and (prefers-color-scheme: dark) 
{
	body {
		background-color: #1a1826;
		color: #d9e0ee;
	}

	.bio
	{
		color: #d9e0ee;
	}

	.view_more
	{
		font-size: 14px;
		background-color: #1a1826;
		color: #d9e0ee;
	}

	.card
	{
		background-color: #1e1e2e;
		color: #d9e0ee;
	}

	.list-group-item
	{
		background-color: #1a1826;
		color: #d9e0ee;
		border-color: #575268;
	}

	.icon_links, .icon_links:visited, .icon_links:hover, .icon_links:active
	{
		font-size: 20px;
		color: #d9e0ee;
		text-decoration: none;
		padding: 3px;
	}

	.site_links:link, .site_links:visited, .site_links:active
	{
		font-size: 17px;
		color: #988ba2;
		text-decoration: none;
	}

	.site_links:hover
	{
		font-size: 17px;
		color: #988ba2;
		text-decoration-color: #988ba2;
		text-decoration-style: dashed;
	}
	
	.post_title
	{
		color: #d9e0ee;
		font-size: 20px;
		font-weight: bolder;
	}

	.post_desc
	{
		color: #988ba2;
		font-size: 17px;
	}

}
