body 
{
	font-size: 16px;
	background-color: #FFF;
	color: #373b41;
	max-width: 100%;
	overflow-x: hidden;
}


.icon_links, .icon_links:visited, .icon_links:hover, .icon_links:active
{
	font-size: 20px;
	color: #373b41;
	text-decoration: none;
	padding: 3px;

}

.site_links:link, .site_links:visited, .site_links:hover, .site_links:active
{
	font-size: 17px;
	color: #969896;
	text-decoration: none;
}

.site_links_active
{
	font-size: 17px;
	color: #373b41;
	text-decoration: none;
}

.bio
{
	font-size: 15px;
	color: #969896;
}

.sidebar
{
	padding-top: 80%;
	padding-bottom: 80%;
}

.view_more
{
	font-size: 14px;
	background-color: #f7f7f7;
	color: #373b41;
	text-decoration: none;
}


@media screen and (prefers-color-scheme: dark) 
{
	body {
		background-color: #1a1826;
		color: #d9e0ee;
	}

	.bio
	{
		color: #d9e0ee;
	}

	.view_more
	{
		font-size: 14px;
		background-color: #1a1826;
		color: #d9e0ee;
	}

	.card
	{
		background-color: #1e1e2e;
		color: #d9e0ee;
	}

	.list-group-item
	{
		background-color: #1a1826;
		color: #d9e0ee;
		border-color: #575268;
	}

	.icon_links, .icon_links:visited, .icon_links:hover, .icon_links:active
	{
		font-size: 20px;
		color: #d9e0ee;
		text-decoration: none;
		padding: 3px;
	}

	.site_links:link, .site_links:visited, .site_links:hover, .site_links:active
	{
		font-size: 17px;
		color: #c3bac6;
		text-decoration: none;
	}

	.site_links_active
	{
		font-size: 17px;
		color: #c3bac6;
		text-decoration: none;
	}

	.a:link, .a:visited, .a:hover, .a:active
	{
		color: #f00
	}
}
